/* styles.css */

/* Hide the scrollbar for the entire page */
html,
body {
    overflow: hidden;
    /* Hide scrollbars */
    height: 100%;
    /* Set the height to prevent unnecessary scrolling */
}

/* Hide the edit buttons on mobile devices */
@media (max-width: 768px) {
    .edit-button {
        display: none !important;
    }
}

/* Hide the add button and secondary tags on mobile devices */
@media (max-width: 768px) {
    #addSiteButtonContainer,
    #tagMenu {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}

/* Style for the navbar background */
.navbar {
    background-color: black;
    /* Set the background color to black */
}

.fixed-tags-bar {
    background-color: #56aad4;
    /* Light grey background */
    padding-top: 0;
    /* No padding on the top */
    padding-bottom: 0.5rem;
    /* Optional: Add some padding on the bottom for spacing */
    margin: 0;
    /* No margin */
}

/* Center the fixed tag menu items */
#fixedTagMenu {
    background-color: black;
    /* Set the background color to black */
    display: flex;
    justify-content: center;
    /* Center items horizontally */
    padding-left: 0;
    /* Remove default padding */
    padding-right: 0;
    /* Remove padding on the right */
    margin-bottom: 0;
    /* Remove default margin */
    list-style: none;
    /* Remove default list styling */
    width: 100%;
    /* Full width */
    position: relative;
}

#addSiteButtonContainer {
    position: absolute;
    left: 0;
}

/* Center the fixed tag menu items */
#tagMenu {
    display: flex;
    justify-content: center;
    /* Center items horizontally */
    padding-left: 0;
    /* Remove default padding */
    padding-right: 0;
    /* Remove padding on the right */
    margin-bottom: 0;
    /* Remove default margin */
    list-style: none;
    /* Remove default list styling */
    width: 100%;
    /* Full width */
}

/* Style for the menu item text */
.nav-link {
    color: white;
    /* Set the text color to white */
    font-weight: bold;
    /* Make the text bold */
}

/* Change the color for the menu item text on hover and focus */
.nav-link:hover,
.nav-link:focus {
    color: white;
    /* Lighter shade of white for hover/focus */
}

/* Style for active nav links */
.nav-link.active {
    color: white;
    /* Active text color */
    background-color: #56aad4;
    /* Active background color */
    /* Other styling */
}

/* Style for nav item containers */
.nav-item {
    padding: 0.1rem;
    /* Padding on all sides */
}

/* Style for fixed tag menu items */
#fixedTagMenu .nav-item {
    margin: 0 0.5rem;
    /* Add some space between items */
}

/* Additional styles to ensure full width with no padding or margin */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-right: 0;
    /* Remove padding on the right */
    padding-left: 0;
    /* Remove padding on the left */
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    /* Full width */
}

/* Style for the linksContainer with hidden scrollbar */
#linksContainer {
    overflow-y: auto;
    /* Enable vertical scrolling */
    max-height: calc(100vh - 150px);
    /* Adjust the max-height as needed */
    padding-bottom: 1rem;
    margin-bottom: 10px;
    /* Add padding to the bottom to ensure the last item is visible */

    /* Hide scrollbar for Webkit browsers like Chrome, Safari */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#exportLinksButtonContainer {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#exportLinksButton {
    background-color: red;
    border-color: red;
    margin-left: 10px; /* Add margin to align it to the left */
}

/* Style for the first letter of each link */
#linksContainer a::first-letter {
    font-size: 1em;
    /* Adjust the size as needed */
    font-weight: bold;
}

/* Style for the link hover effect */
#linksContainer a:hover {
    color: #0f0f0f;
    /* Optional: Change text color on hover if needed */
    text-decoration: none;
    /* Optional: Remove underline on hover if needed */
}

.edit-button {
    margin-left: 10px;
    margin-top: 10px;
}

/* Style for active tag links with rounded corners */
.nav-link.active {
    background-color: #56aad4;
    color: white;
    border-radius: 0.6rem;
    /* Adjust the value to get the desired roundness */
}

/* Style for the main content area */
#linksContainer a {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    text-decoration: none;
}

#linksContainer a:hover {
    text-decoration: underline;
}


/* Style for the iframe container */
#iframeContainer {
    display: flex;
    /* Use flexbox to center the child iframe */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full height of the viewport */
    padding: 0;
    /* No padding */
    margin: 0;
    /* No margin */
}

/* Style for the iframe */
#docIframe {
    width: 80%;
    /* Set the width of the iframe */
    height: 80vh;
    /* Set the height of the iframe */
    border: none;
    /* No border */
}

/* Custom styles for the documentation link */
.card-link {
    text-decoration: none;
}

/* Style for the card */
.card {
    /* Add any custom styles for the card here */
}

/* Custom styles for the card hover effect */
.card-title:hover {
    cursor: pointer;
    /* Change the cursor to indicate the title is clickable */
}

.card-title:hover .card {
    background-color: #56aad4;
    /* Light gray background color on hover */
}

/* Modal styles */
.modal-header {
    background-color: #56aad4;
    color: white;
}

.modal-footer {
    background-color: #f8f9fa;
}
.copy-image {
    width: 20px; /* Set the width of the image */
    height: 20px; /* Set the height of the image */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-left: 5px; /* Add some space between the code and the image */
}

.btn-primary {
    background-color: #56aad4;
    border-color: #56aad4;
}
.btn-primary:hover {
    background-color: #56aad4; /* Slightly darker shade for hover */
    border-color: #56aad4;
}

textarea {
    width: 100%;
    /* Make textarea fluid width */
}

.edit-button {
    background-color: #56aad4;
    border-color: #56aad4;
}

.card-body {
    background-color: #fcfcfc;
}
